{% extends '::layout.html.twig' %}

{% block h1 %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="col-sm-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ form.vars.data.date|date('d.m.Y') }}</h3>
                <div class="box-tools">
                    <div class="btn-group">
                        <a href="" class="btn btn-box-tool btn-default"><i class="fa fa-arrow-left"></i></a>
                        <a href="" class="btn btn-box-tool btn-default">{{ 'Today'|trans }}</a>
                        <a href="" class="btn btn-box-tool btn-default"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                {{ form_start(form) }}
                <div class="hidden">
                    {{ form_widget(form.date) }}
                    {{ form_widget(form.user) }}
                </div>
                <div class="col-sm-4">{{ form_row(form.timeIn) }}</div>
                <div class="col-sm-4">{{ form_row(form.timeOut) }}</div>
                <div class="col-sm-4">{{ form_row(form.break) }}</div>
                {{ form_end(form) }}
            </div>
            <div class="box-footer"></div>
        </div>
    </div>
{% endblock %}